/* Navbar */
.navbar-top-sendiri {
  width: 100%;
}

/* #content-section {
  margin-top: 9.5rem;
  width: 100%;
  height: 100%;
  background-color: aqua;
} */

.navbar .navbar-nav-over {
  height: 50px;
  width: 100%;
  background-color: aqua;
}

.d-flex.justify-content-center.fw-semibold a {
  text-decoration: none;
}

.content-section {
  margin-top: 8rem;
  padding: 0;
  height: 100vh;
}

.image-popular-place {
  height: 240px;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #f8dc9a;
}

.image-popular-place img {
  width: 720px;
  margin-top: -1rem;
  object-fit: cover;
}

.container.buat-toko-button {
  margin: 1.2rem 0;
  display: flex;
  justify-content: end;
}

.container.buat-toko-button button {
  width: 9rem;
  height: 4rem;
}

.container.container-kategori {
  margin: 0;
}

.container-button-kategori {
  margin-top: 1rem;
}

.container-button-kategori a {
  margin-right: 0.6rem;
}

.container-tipis {
  margin-bottom: 12px;
  padding: 12px;
  box-shadow: 5px;
  border-radius: 6px;
  box-sizing: border-box;
  -moz-box-shadow: 0px 0px 3px 2px rgba(61, 61, 61, 0.12);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(61, 61, 61, 0.12);
  box-shadow: 0px 0px 3px 2px rgba(61, 61, 61, 0.12);
}

/* .container.container-barang-jualan {
  justify-content: space-between;
} */

/* .card {
  width: 20%;
} */

.kotak-barang {
  width: 248px;
  height: 248px;
  overflow: hidden;
}

.kotak-barang img {
  margin-top: -40px;
  object-fit: cover;
}

.kotak-gambar-barang {
  width: 100%;
  overflow: hidden;
}

.kotak-gambar-barang img {
  margin-top: -40px;
  object-fit: cover;
}

.col-3 {
  margin-bottom: 0.6rem;
}

/* Kalender */
/* 
@import url("https://fonts.googleapis.com/css2? Family -Baloo+Tammudu+2&display-swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Baloo Tammudu 2", cursive;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22242a;
}
.container {
  width: 330px;
  font-size: 1.2em;
  background: #323741;
  padding: 10px;
  border: 1px solid #b0b8cc;
  border-radius: 10nx;
  line-height: 15px;
}
#dycalendar {
  width: 100%;
}
*/
.dycalendar-month-container .dycalendar-body {
  display: flex;
  justify-content: center;
}

/*
.dycalendar-month-container.dycalendar-Spar-month-year {
  color: #fff;
} */

/* Notifikasi */
.row-col {
  background-color: #a8e9af;
  border-radius: 1rem;
  margin: 0.6rem;
  font-size: large;
  display: flex;
}

.row.row-col.favorite-row {
  height: 50px;
  align-items: center;
}

.row.row-col.kalender-row {
  height: 50px;
  align-items: center;
}

.row.row-col.setting-row {
  height: 50px;
  align-items: center;
}

.row.row-col.todolist-row {
  height: 200px;
  padding-top: 9px;
  box-sizing: border-box;
}
